<!doctype html>
<html lang="en">
<head>
	 <!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	<!--====== Title ======-->
	<title>{{ page.title }} | {{site.name}}</title>

	{% if page.description %}
	<meta name="description" content="{{ page.description }}">

	{% endif %}


	<!-- Facebook Open Graph metadata -->
	<meta property="og:image" content="https://developer.cdn.mozilla.net/static/img/opengraph-logo.dc4e08e2f6af.png">
	<meta property="og:description" content="{{ page.description }}">
	<meta property="og:title" content="{{ page.title }} | {{site.name}}">

	<!-- Main CSS -->
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" >

	<!-- FOnt Style sheet -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

	<!-- AOS -->
	 <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

	<!-- Leaflet Map -->
	 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
	 integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
	 crossorigin=""/>

	<!-- OpenLayers Maps Css -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css">

	<!-- OpenLayers Maps JS script -->
	<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<!-- Leaflet Script -->
	<!-- Make sure you put this AFTER Leaflet's CSS -->
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
	integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
	crossorigin=""></script>


</head>
