<div class="container homebanner mb-4">
	<div class="row">
		<div class="col-md-4">
			<!-- goes into what we do -->
			<h4 class="py-2 mb-4 border-top border-dark">SOLUTIONS</h4>
			<img class="pb-2 img-fluid banner-img" id="main" src="{{ site.baseurl }}/assets/img/team.jpg" />
	    </div>
	    <div class="col-md-4">
	    	<!-- goes into how we work -->
	    	<h4 class="py-2 mb-4 border-top border-dark">SPACE & RESOURCES</h4>
	      	<img class="pb-2 img-fluid banner-img" id="main" src="{{ site.baseurl }}/assets/img/what.jpg" />
	    </div>
	    <div class="col-md-4">
	    	<!-- goes into Who we are -->
	    	<h4 class="py-2 mb-4 border-top border-dark">EQUALITY</h4>
	     	<img class="pb-2 img-fluid banner-img" id="main" src="{{ site.baseurl }}/assets/img/how.jpg" />
	    </div>
	</div>
</div>