<!-- https://prium.github.io/twbs-sparrow/v1.6.1/ -->

{% include head.html %}
<body>
	{% include header.html %}

	{% include homehero.html %}
	<!-- Home Banner -->

	<section >
		<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="main-message">
							<p class="lead fw-normal">
									Genlivet is a group of multidisciplinary humans working together on regenerative solutions, with global implications, locally.
							</p>
						</div>
					</div>
					<div class="col-md-6 bg-danger">
						<div class="mx-auto">
							<h4> Gen{op}livet: </h4>
							<p class="text-end">
							give new life; let re-emerge
							</p>
						</div>
					</div>
				</div>
		</div>
	</section>

	<section >
		<div class="container mx-auto p-5 m-5">
				<div class="row">
					<div class="col-md-6">
						<div class="main-message">
							<h4>
							Equity:
							</h4>
							<p class="text-end">
							Equal compensation for labor 
							adjusted by the local purchasing power.
						</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="main-message">
							<p class="lead fw-normal">
								_Who we are
								<br>
								<br>

								We are organized equitably 
								and distribute all the value 
								we generate fairly 
								among ourselves and 
								all the local actors we engage.
							</p>
						</div>
					</div>
				</div>
		</div>
	</section>

	<section >
		<div class="container mx-auto p-5 m-5">
				<div class="row">
					<div class="col-md-6">
						<div class="main-message">
							<p class="lead fw-normal">

								_What we do 

								<br><br>
								
								Genlivet takes the boots on 
								the ground, grassroots approach 
								to engage and activate 
								local actors to find and execute 
								regenerative solutions to 
								their local waste problems.
							</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="main-message">
							<h4>
							Regenerative:
							</h4>
							<p class="text-end">
								Is a process originated by an initial investment of resources, labor and energy that generates, as an output, as many necessary inputs as needed to sustain itself.
						</p>
						</div>
					</div>
				</div>
		</div>
	</section>

	<section >
		<div class="container mx-auto p-5 m-5">
				<div class="row">
					<div class="col-md-6">
						<div class="main-message">
							<h4>
							Circular Economy System:
							</h4>
							<p class="text-end">
								is an economic system 
								aimed at eliminating waste 
								and the continual use of resources.
						</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="main-message">
							<p class="lead fw-normal">
								_How we do it
								<br>
								<br>

								We strive to use only 
								waste materials, identify local waste stream and sources, 
								and redirect or reduce them by providing alternatives, in favor of a circular economy system.
							</p>
						</div>
					</div>
				</div>
		</div>
	</section>

	<section >
		<div class="container mx-auto p-5 m-5">
			<div class="main-message">
				<p class="lead fw-normal">
						Genlivet is a group of multidisciplinary humans working together on regenerative solutions, with global implications, locally.
				</p>
			</div>
		</div>
	</section>



	<div class="container mx-auto p-5 m-5">
		<div class="main-message">
			<p class="text-center lead fw-normal">
				We are a multidisciplinary group of humans redisegning they way
				<br>
				we work, live and use the resources of our limited planet
			</p>
		</div>
	</div>
	{% include homebanner.html %}

<!-- content of page -->
<!-- 	{{ content }} -->

	{% include footer.html %}

	{% include scripts.html %}

	<!-- Hours of Labor / Kg of Material Recycled /  -->
<!-- 	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	<script language="JavaScript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="{{ site.baseurl }}/assets/js/main.js"></script> -->
</body>