{% include head.html %}
<body>
	{% include header.html %}
	<main id="main-content" tabindex="-1" role="main">
		<section class="hero -blue">
			<div class="hero-stack container">
				<h1 class="hero-headline -animatedLine">
					Building a fair
					<br>
					and equitable future Now
				</h1>
				<p class="hero-subheading">
					Resource Based Cooperative redesigning the way we work.
				</p>
			</div>
		</section>

		<section class="hero2" id="about">
			<div class="hero2-stack container py-5">
				<div class="row py-5">
					<div class="col-md-8 justify-content-center">
						<div class="main-message">
							<h5 class="pb-5" style="color: white;"> cooperative </h5>
							<p class="lead fw-normal" style="color: #49745d;">
								Genlivet is a group of multidisciplinary
								<br>
								humans working together on regenerative
								<br>
								solutions, with global implications, locally.
							</p>
							<p class="lead fw-normal" style="color: white;">
								We are organized <span style="color: #79a969;">equitably</span> and distribute <br> all the value we generate fairly among <br> ourselves and all the local actors we <br>engage.
							</p>
							<p class="lead fw-normal" style="color: #79a969;">
								Equity: Equal compensation for labor <br> adjusted by the local purchasing power.
							</p>
						</div>
					</div>
					<div class="col-md-4 mx-auto">
						<!-- <img class="hero2-img" alt="" src="{{ site.baseurl }}/assets/img/iconLogo.svg"> -->
					</div>
				</div>
			</div>
		</section>

		<section class="bgbreak">

		</section>

		<section class="hero3" id="solutions">
			<div class="container mx-auto py-5">
				<div class="main-message py-5">
					<h5 class="text-center py-5" style="color: white;"> SOLUTIONS </h5>
					<p class="text-center lead fw-normal py-4" style="color: white;">
								<b>Genlivet takes the boots on
								the ground, <br> grassroots approach
								to engage and activate
								local <br> actors to find and execute
								<span style="color: #aad19e;">regenerative solutions</span> <br>to
								their local waste problems.
							</b>
					</p>
<!-- 					<img class="hero2-img" alt="" src="{{ site.baseurl }}/assets/img/iconSeed.svg"> -->
				</div>
			</div>
		</section>

		<!-- Figure out how to hide the lower rows on small screen -->

		<section>
			<div class="container-fluid">
				<div class="row">
				    <div class="col-sm-4 p-0">
				      <img class="img-fluid" style="" alt="" src="{{ site.baseurl }}/assets/img/Pics/gallery01.jpg">
				    </div>
				    <div class="col-sm-4 p-0">
				    	<img class="img-fluid" style="" alt="" src="{{ site.baseurl }}/assets/img/Pics/gallery02.jpg">
				    </div>
				    <div class="col-sm-4 p-0">
				    	<img class="img-fluid" style="" alt="" src="{{ site.baseurl }}/assets/img/Pics/gallery03.jpg">
				    </div>

				    <div class="col-sm-4 p-0 d-none d-sm-block">
				      <img class="img-fluid" style="" alt="" src="{{ site.baseurl }}/assets/img/Pics/gallery04.jpg">
				    </div>
				    <div class="col-sm-4 p-0 d-none d-sm-block">
				    	<img class="img-fluid" style="" alt="" src="{{ site.baseurl }}/assets/img/Pics/gallery05.jpg">
				    </div>
				    <div class="col-sm-4 p-0 d-none d-sm-block">
				    	<img class="img-fluid" style="" alt="" src="{{ site.baseurl }}/assets/img/Pics/gallery06.jpg">
				    </div>

				    <div class="col-sm-4 p-0 d-none d-md-block">
				      <img class="img-fluid" style="" alt="" src="{{ site.baseurl }}/assets/img/Pics/gallery07.jpg">
				    </div>
				    <div class="col-sm-4 p-0 d-none d-md-block">
				    	<img class="img-fluid" style="" alt="" src="{{ site.baseurl }}/assets/img/Pics/gallery08.jpg">
				    </div>
				    <div class="col-sm-4 p-0 d-none d-md-block">
				    	<img class="img-fluid" style="" alt="" src="{{ site.baseurl }}/assets/img/Pics/gallery09.jpg">
				    </div>
				 </div>
			</div>

		</section>

		<section class="hero4 mb-1">
			<div class="container mx-auto">
				<div class="row py-5">
					<div class="col-md-2">
						<img class="hero2-img" style="height: 100px" alt="" src="{{ site.baseurl }}/assets/img/iconSeed.svg">
					</div>
					<div class="col-md-10">
						<div class="main-message">
							<p class=" lead fw-normal" style="color: #cfedc5;">

										Regenerative: Is a process originated by an initial investment of resources,<br> labor and energy that generates, as an output, as many necessary inputs <br> as needed to sustain itself.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="hero5" id="approach">

			<div class="container mx-auto py-5">
				<div class="row py-5">
					<div class="col-md-7">
						<div class="main-message pt-4">
							<p class="pb-5" style="color: white; font-family: 'Montserrat'"><b>APPROACH</b></p>
							<p class="lead fw-normal" style="color: white; font-family: 'Montserrat';">
								<b>
									We strive to use only
									waste materials, identify local waste stream and sources,
									and redirect or reduce them by providing alternatives, in favor of a
									<span style="color: #cfedc5;">circular economy system.</span>
								</b>
							</p>
							<p class="lead fw-normal" style="color: #cfedc5;">
								Circular Economy System:
								is an economic system
								aimed at eliminating waste
								and the continual use of resources.
							</p>
						</div>
					</div>
					<div class="col-md-4 mx-auto">
<!-- 						<img class="hero2-img" alt="" src="{{ site.baseurl }}/assets/img/iconCircle.svg"> -->
					</div>
				</div>
			</div>
		</section>

		<footer>
			<div class="container">
				<div class="row pt-4">
					<div class="col-md-1">
							<img class="brand float-left" style="" alt="" src="{{ site.baseurl }}/assets/img/Logo/logo-icon-green.png">
					</div>

					<div class="col-md-5 py-2">
							<p class="float-left">
								<small>
									GENLIVET
									<br>
									ATT: TINKERTANK <br>			HORHUSVEJ 5 -
									<br>
									2300 KOBENHAVN S
									<br>
									CVR 41 61 81 91
								</small>

							</p>
					</div>
					<div class="col-md-2">
					</div>
					<div class="col-md-4 float-right pt-2">
						<form
						  action="https://formspree.io/f/mdoylddz"
						  method="POST"
						>
							<div class="form-group">
								<div class="container">
									<textarea name="message" class="form-control mb-2"rows="2" placeholder="Drop us a line here"></textarea>
									<button type="submit" class="btn btn-success float-right pt-2">
										<i class="bi bi-arrow-right-short"></i>
									</button>
								</div>
							</div>

						  <!-- <label>
						    <input type="email" name="_replyto">
						  </label> -->

						  <!-- your other form fields go here -->


						</form>


					</div>


				</div>
			</div>
			<!--
			<img src="{{ site.baseurl }}/assets/img/iconLogo.svg" class="" alt="{{ site.title }}"> -->
		</footer>

	</main>






	{% include scripts.html %}
</body>
