{% include head.html %}
<body>
	{% include header.html %}
	<main id="main-content" tabindex="-1" role="main">
		<section class="hero -blue">
			<div class="hero-stack container">
				<h1 class="hero-headline -animatedLine">
					Building a fair
					<br>
					and equitable future Now
				</h1>
				<p class="hero-subheading">
					Resource Based Cooperative redesigning the way we work.
				</p>
			</div>
		</section>

		<section class="hero2">
			<div class="hero2-stack container-fluid mx-auto">
				<div class="row">
					<div class="col-md-8">
						<div class="main-message">
							<h5 class="" style="color: white;"> cooperative </h5>
							<p class="lead fw-normal" style="color: #49745d;">
								Genlivet is a group of multidisciplinary 
								<br>
								humans working together on regenerative 
								<br>
								solutions, with global implications, locally.
							</p>
							<p class="lead fw-normal" style="color: white;">
								We are organized <span style="color: #79a969;">equitably</span> and distribute <br> all the value we generate fairly among <br> ourselves and all the local actors we <br>engage.
							</p>
							<p class="lead fw-normal" style="color: #79a969;">
								Equity: Equal compensation for labor <br> adjusted by the local purchasing power.
							</p>
						</div>
					</div>
					<div class="col-md-4 mx-auto">
						<img class="hero2-img" alt="" src="{{ site.baseurl }}/assets/img/iconLogo.svg">
					</div>
				</div>
			</div>
		</section>

		<section class="hero3">
			<div class="container mx-auto">
				<div class="main-message">
					<h5 class="text-center" style="color: white;"> solutions </h5>
					<p class="text-center lead fw-normal" style="color: white;">
								Genlivet takes the boots on 
								the ground, <br> grassroots approach 
								to engage and activate 
								local <br> actors to find and execute 
								<span style="color: #aad19e;">regenerative solutions</span> <br>to 
								their local waste problems.
					</p>
					<img class="hero2-img" alt="" src="{{ site.baseurl }}/assets/img/iconSeed.svg">
				</div>
			</div>
		</section>

		<section>
			<div class="container-fluid">
				  <div class="row">
				    <div class="col-sm" style="background-color: #946D62;">
				      <a class="pageList-item" href="{{site.baseurl}}/what">
						<div class="pageList-content">
							<header class="pageList-header">
								<h2 class="pageList-headline text-center">
									What
									<br>
									we create
								</h2>
							</header>
							<div class="pageList-asset">
								<img class="pageList-image" data-src="https://d33wubrfki0l68.cloudfront.net/3e4fe4d1220d9bcc020f6963b24d16c59e0635ff/48960/images/pages/red-desktop-thumbnail.png" alt="" src="https://d33wubrfki0l68.cloudfront.net/3e4fe4d1220d9bcc020f6963b24d16c59e0635ff/48960/images/pages/red-desktop-thumbnail.png">
							</div>
							<p class="pageList-cta button -cta -color-white">
								<span class="pageList-cta-text">Solutions</span>
								<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.10081 0L5.88245 1.23617L10.7016 6.12576H0V7.87423H10.7016L5.88245 12.7638L7.10081 14L14 7L7.10081 0Z" fill="white"></path>
								</svg>
							</p>
						</div>
					</a>
				    </div>
				    <div class="col-sm">
				      One of three columns
				    </div>
				    <div class="col-sm">
				      One of three columns
				    </div>
				  </div>
			</div>

		</section>

		<section class="pageList">
			<a class="pageList-item" style="background-color: #946D62;" href="{{site.baseurl}}/what">
				<div class="pageList-content">
					<header class="pageList-header">
						<h2 class="pageList-headline">
							What
							<br>
							we create
						</h2>
					</header>
					<div class="pageList-asset">
						<img class="pageList-image" data-src="https://d33wubrfki0l68.cloudfront.net/3e4fe4d1220d9bcc020f6963b24d16c59e0635ff/48960/images/pages/red-desktop-thumbnail.png" alt="" src="https://d33wubrfki0l68.cloudfront.net/3e4fe4d1220d9bcc020f6963b24d16c59e0635ff/48960/images/pages/red-desktop-thumbnail.png">
					</div>
					<p class="pageList-cta button -cta -color-white">
						<span class="pageList-cta-text">Solutions</span>
						<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M7.10081 0L5.88245 1.23617L10.7016 6.12576H0V7.87423H10.7016L5.88245 12.7638L7.10081 14L14 7L7.10081 0Z" fill="white"></path>
						</svg>
					</p>
				</div>
			</a>
			<a class="pageList-item" style="background-color: #809563;" href="{{site.baseurl}}/who">
				<div class="pageList-content">
					<header class="pageList-header">
						<h2 class="pageList-headline">
							Our
							<br>
							approach
						</h2>
					</header>
					<div class="pageList-asset">
						<img class="pageList-image" data-src="https://d33wubrfki0l68.cloudfront.net/195f1075dc8db7abbc3df451c37a859b62628e07/ab543/images/pages/blue-desktop-thumbnail.png" alt="" src="https://d33wubrfki0l68.cloudfront.net/195f1075dc8db7abbc3df451c37a859b62628e07/ab543/images/pages/blue-desktop-thumbnail.png">
					</div>
					<p class="pageList-cta button -cta -color-white">
						<span class="pageList-cta-text">Space & Resources</span>
						<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M7.10081 0L5.88245 1.23617L10.7016 6.12576H0V7.87423H10.7016L5.88245 12.7638L7.10081 14L14 7L7.10081 0Z" fill="white"></path>
						</svg>
					</p>
				</div>
			</a>
			<a class="pageList-item" style="background-color: #629481;" href="{{site.baseurl}}/how">
				<div class="pageList-content">
					<header class="pageList-header">
						<h2 class="pageList-headline">
							Fair Distribution	
						</h2>
					</header>
					<div class="pageList-asset">
						<img class="pageList-image" data-src="https://d33wubrfki0l68.cloudfront.net/d5fa6446ad31fcb0ee5ac22681e177fd9875a1eb/f61c0/images/pages/green-desktop-thumbnail.png" alt="" src="https://d33wubrfki0l68.cloudfront.net/d5fa6446ad31fcb0ee5ac22681e177fd9875a1eb/f61c0/images/pages/green-desktop-thumbnail.png">
					</div>
					<p class="pageList-cta button -cta -color-white">
						<span class="pageList-cta-text">Equality</span>
						<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M7.10081 0L5.88245 1.23617L10.7016 6.12576H0V7.87423H10.7016L5.88245 12.7638L7.10081 14L14 7L7.10081 0Z" fill="white"></path>
						</svg>
					</p>
				</div>
			</a>
		</section>

	</main>

	




	{% include scripts.html %}
</body>